---
import { teamProfile } from "./data";

import TeamCard from "@components/blocks/cards/TeamCard.astro";
import Container from "@components/shared/Container.astro";
import Title from "@components/shared/Title.astro";
import Paragraph from "@components/shared/Paragraph.astro";

const { subtitle } = Astro.props;
---

<section id="about-us">
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <div class="text-center max-w-3xl mx-auto space-y-4">
        <Title>the Lynx team</Title>
        <Paragraph>
          Professionals dedicated to improving your business & your brand.
        </Paragraph>
      </div>
      <div class="flex flex-col justify-center sm:flex-row gap-4r">
        {teamProfile.map((profile) => <TeamCard {...profile} />)}
      </div>
    </div>
  </Container>
</section>
