---
import {
  HiGiftTop,
  HiFingerPrint,
  HiMiniFilm,
  HiComputerDesktop,
  HiCircleStack,
} from "react-icons/hi2";
import Paragraph from "@components/shared/Paragraph.astro";

export interface Props {
  icon: string;
  title: string;
  description: string;
  included: Array<string>;
  price: string;
  styling?: string;
}

const icons: Record<string, IconType> = {
  fingerprint: HiFingerPrint,
  camera: HiMiniFilm,
  desktop: HiComputerDesktop,
  circlestack: HiCircleStack,
};

const { icon, title, description, included, price } = Astro.props;

const IconComponent = icons[icon] || HiGiftTop;
---

<div
  class="card-container min-h-full p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden"
>
  <div
    class="rounded-xl bg-gray-300 dark:bg-gray-950 p-3 text-heading-1 w-max relative"
  >
    <IconComponent size={24} />
  </div>
  <h2 class="h-10 md:text-xl font-semibold text-heading-2 mt-6 mb-4">
    {title}
  </h2>
  <div
    class="text bg-gray-500/50 p-4 rounded-xl border border-box-border shadow-box-shadow"
  >
    <Paragraph className="mb-4">
      {description}
    </Paragraph>
    <div class="features border-solid">
      {
        included.map((item) => {
          return (
            <li class="text-mlist-disc list-inside lg:text-sm text-gray-900 dark:text-white">{`${item}`}</li>
          );
        })
      }
    </div>
  </div>
  <div class="h-12 flex justify-center m-4">
    <h1
      class="p-2 pr-4 pl-4 text-xl font-semibold text-heading-2 bg-gray-500/50 border border-white rounded-xl"
    >
      {price}
    </h1>
  </div>
</div>

<style>
  .features {
    padding-top: 6px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
</style>
