---
import Button from "@components/shared/Button.astro";
import { Text, ProfileImages } from "@components/shared";
import { ElectricLine } from "@components/svgs";

export interface Props {
  teamName: string;
  description: string;
  primaryPicture: string;
  secondaryPicture: string;
  portfolioLink: string;
}

const {
  teamName,
  description,
  primaryPicture,
  secondaryPicture,
  portfolioLink,
} = Astro.props;

//TODO: GETTIT!! change the button design to somthing simple with the electic lynx orange bolt
---

<div
  class="card-container p-6 rounded-md shadow-md flex flex-col justify-between"
>
  <!-- Top Section -->
  <ProfileImages imagesSelections={[primaryPicture, secondaryPicture]} />

  <!-- Bottom Section -->
  <div class="flex flex-col h-2/4 gap-4 pt-4">
    <Text tag="h3">
      {teamName}
    </Text>
    <Text tag="p">
      {description}
    </Text>
  </div>
  <div class="mt-4 flex flex-col items-end">
    <a href={portfolioLink}>
      <span class="flex flex-col justify-center"
        ><b>{`${teamName.split(" ")[0]}'s portfolio`}</b>
        <ElectricLine w="120" h="20" />
      </span></a
    >
  </div>
  <style>
    .card-container {
      max-width: 400px; /* Adjust the maximum width as needed */
    }

    .secondary-image {
      transition: opacity 0.3s ease;
    }

    .secondary-image:hover {
      opacity: 0;
    }
  </style>
</div>
