---
import Paragraph from '../shared/Paragraph.astro';

export interface Props{
    title:string,
    description:string,
    primaryPicture: string,
    secondaryPicture: string
}
const { title, description, primaryPicture, secondaryPicture } = Astro.props

---


  <div class="card-container p-6 rounded-md shadow-md overflow-hidden">
    <!-- Top Section -->
    <div class="top-section relative overflow-hidden ">
      <img src={primaryPicture} alt="Primary Image" class="primary-image w-full h-full object-cover rounded-t-md" />
      <img src={secondaryPicture} alt="Secondary Image" class="secondary-image w-full h-full object-cover absolute top-0 left-0 rounded-t-md" />
    </div>

    <!-- Bottom Section -->
    <div class="bottom-section p-4 bg-white dark:bg-gray-800 rounded-b-md">
      <h2 class="md:text-xl font-semibold text-heading-2 mt-6 mb-4"> {title} </h2>
      <Paragraph>
        {description}
      </Paragraph>
    </div>
  </div>


<style>
  .card-container {
    max-width: 400px; /* Adjust the maximum width as needed */
  }

  .secondary-image{
    transition: opacity 0.3s ease;
  }

  .secondary-image:hover {
    opacity: 0;
  }

  .top-section {

  }
</style>

