---
import ServiceCard from "../cards/ServiceCard.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/servicedata.ts";


type ServicesProps = {
    title: string;
    description: string;
    icon: string
};

---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                services + specialties
            </Title>
            <Paragraph>
                Orchestrated to build your brand and bring in customers.
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            {
                    services.map((service: ServicesProps) => {
                    return (
                            <ServiceCard title={service.title} description={service.description} icon={service.icon}>
                            </ServiceCard>
                            );
                    })
            }
        </div>
    </Container>
</section>