---
import Button from "../../../shared/Button.astro";
import { EmailNote } from "../../../svg";
import Label from "./Label.astro";

const baseStyle =
  "peer w-full border-b border-blue-gray-200 bg-transparent pt-4 pb-1.5 outline outline-0 transition-all ";
const fontStyle = "font-sans text-sm font-normal text-blue-gray-700";
const disable = "disabled:border-0 disabled:bg-blue-gray-50";
const focus = "focus:outline-0  focus:border-pink-500 focus:border-0";
const placeHolder = "placeholder-shown:border-blue-gray-200";
---

<form action="#" class="flex h-11 lg:w-1/3 flex-col gap-6 pt-8">
  <Label>
    <input
      slot="labelInput"
      placeholder="johndoe@gmail.com"
      class:list={[baseStyle, fontStyle, disable, focus, placeHolder]}
    />
     Email
  </Label>
  <Label>
    <textarea
      slot="labelInput"
      placeholder="Static"
      rows="5"
      class:list={[
        baseStyle,
        fontStyle,
        disable,
        focus,
        placeHolder,
        " resize-none disabled:resize-none ",
      ]}></textarea>
     Message
  </Label>
</form>
<style></style>
