<div class="relative w-full min-w-[200px] mt-8">
  <slot name="labelInput" />
  <label
    class:list={[
      "after:content[' '] pointer-events-none absolute left-0 -top-2.5 ",
      "flex h-full w-full select-none text-sm font-normal leading-tight text-blue-gray-500 ",
      "transition-all after:absolute after:-bottom-2.5 after:block after:w-full after:scale-x-0 after:border-b-2 after:border-blue-500 ",
      "after:transition-transform after:duration-300",
      "peer-disabled:text-transparent",
      "peer-disabled:peer-placeholder-shown:text-blue-gray-500  peer-placeholder-shown:leading-tight peer-placeholder-shown:text-blue-gray-500",
      "peer-focus:text-sm peer-focus:leading-tight peer-focus:text-primary peer-focus:after:scale-x-100 peer-focus:after:border-primary ",
    ]}
  >
    <slot />
  </label>
</div>
