---
import Layout from "../layouts/Layout.astro";
// Not need to be index byt robots

//     --color-bg: 3 7 18;
//     --color-box: 17 24 39;
//     --box-border: 243 244 246/0.1;
//     --box-sd: transparent;
---

<Layout title="Welcome to AgenceX">
  <div class="flex flex-col justify-center items-center gap-8">
    <h1>Comps and stuff</h1>
    <ul class="flex flex-col justify-center items-center gap-8">
      <li class="text-heading-3 w-60 text-center h-20 outline">
        --heading-1: 255 255 255
      </li>
      <li class="text-heading-1 w-60 text-center h-20 outline">
        --heading-2: 243 244 246;
      </li>
      <li class="text-heading-1 w-60 text-center h-20 outline">
        --heading-3: 209 213 219;
      </li>
      <li class="text-color-bg w-60 text-center h-20 outline">
        --color-bg: 3 7 18;
      </li>
      <li class="bg-color-box: 17 24 39 w-60 text-center h-20 outline">
        --color-box: 17 24 39;
      </li>
    </ul>
  </div>
</Layout>
