---
import Layout from "@layouts/Layout.astro";
import { FormNetlify } from "@components/shared";
import { LogoTitle } from "@components/blocks";
---

<Layout title="Welcome to AgenceX">
  <main class="min-h-screen">
    <LogoTitle />
    <FormNetlify />
  </main>
</Layout>
