---
import Layout from "@layouts/Layout.astro";
import { Text } from "@components/shared";
import { LogoTitle, TeamBios, FormNetlify } from "@components/blocks";
---

<Layout title="Electric Lynx ">
  <main class="flex flex-col items-center gap-20 min-h-screen pt-40 mb-40">
    <Text tag="h2">Fill out the form and we'll reachout for more info</Text>

    <div class="w-1/2 mb-10">
      <FormNetlify />
    </div>
    <Text tag="h2">Reach out to the team</Text>

    <TeamBios varient="simple" />
  </main>
</Layout>
