---
import Layout from "@layouts/Layout.astro";
import {
  Hero,
  ContactUs,
  LynxTeam,
  ProvidedServices,
  CTA,
} from "@components/sections/";

import Packages from "@components/sections/Packages.astro";
---

<Layout title="Welcome to AgenceX">
  <main class="flex flex-col gap-y-20 md:gap-y-20 overflow-hidden">
    <Hero />
    <ProvidedServices />
    <CTA />
    <LynxTeam />
    <Packages />
    <ContactUs />
  </main>
</Layout>
