---
import { getCollection, getEntry } from "astro:content";

const allClientProjects = await getCollection("clients_writeup");
---

<div>
  <p>build our client tell</p>
  {JSON.stringify(allClientProjects)}
</div>
