---

---

<div class="mt-16"></div>
<footer
  class="relative bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-8"
>
  <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
    <div class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl">
    </div>
  </div>
  <slot />
</footer>
