---
import { LinkSVG } from "../../../shared";
import {
  FacebookIcon,
  LinkinIcon,
  TwitterXICon,
  GitHubIcon,
} from "../../../svg";
---

---
<div class="min-h-max flex items-center gap-4 text-heading-3 mt-8">
  <LinkSVG>
    <FacebookIcon />
  </LinkSVG>
  <LinkSVG>
    <TwitterXICon />
  </LinkSVG>
  <LinkSVG>
    <LinkinIcon />
  </LinkSVG>
  <LinkSVG>
    <GitHubIcon />
  </LinkSVG>
</div>
