---
import { Container, Text } from "@components/shared";

import { CTAButton } from "./components";


---

<section class:list={["pt-20 ", "hero_layout"]}>
  <Container className="flex  flex-col justify-center text-center mr-10">
    <div class="hero_valueprop flex gap-10">
      <div class="hero_valueprop_text flex flex-col justify-between gap-5">
        <Text tag="h1" class="font-bold text-4xl flex text-left">
          Leave your customers in awe.
        </Text>    
        <Text tag="h1" class="text-left">
          Say goodbye to mediocrity & sweat, and say hello to Electric Lynx.<br>
          We're full-service web professionals, and we're here to leave your customers in awe.
        </Text>
        <!-- tablet & desktop image -->
        <div class="flex items-center justify-center">
          <img 
            class="md:hidden lg:hidden"
            src="/images/hero/hero-lady.webp" 
            alt="a lady shocked that the website is so snazzy"
            width="200vh"
          />
        </div>
      </div>
      <!-- mobile image -->
      <div class="hidden md:block lg:block">
        <img 
        src="/images/hero/hero-lady.webp" 
        alt="a lady shocked that the website is so snazzy"
        width="100vw"
      />
      </div>
    </div>


    <div class="mt-20 flex gap-8 flex-col">
      <Text tag="p">
        Shoot us a message to start.
      </Text>

      <CTAButton variant={"primary"} navigateTo={"./contact-us"}>
        <span class="bolder"> Reach Out</span>
        <svg
          width="182"
          height="15"
          viewBox="0 0 182 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 13.1455H94.3871L106 5L121.5 26L143.419 5L150.645 13.1455C180.581 13.1455 180.761 13.1455 182 13.1455"
            stroke="#F08D27"
            stroke-width="3"></path>
        </svg>
      </CTAButton>
    </div>
  </Container>
</section>

<style>
  .hero_title {
  }
  .hero_layout {
    --hero_grid_layout: "logo mainTitle subTitle callActions";
    display: grid;
    grid-template-areas: var(--hero_grid_layout);
    height: 85vh;
  }
  @media screen and (min-width: 640px) {
    /* tablet  */
    .hero_layout {
      justify-content: center;
      --hero_grid_layout: "logo mainTitle subTitle callActions";
    }
  }
  @media screen and (min-width: 1024px) {
    /* laptop */
    .hero_layout {
      justify-content: center;
      --hero_grid_layout: "logo mainTitle subTitle callActions";
    }
  }
  @media screen and (min-width: 1280px) {
    /* desktop */
    .hero_layout {
      justify-content: center;
      --hero_grid_layout: "logo mainTitle subTitle callActions";
    }
  }
</style>
