---
import { Container, Button } from "../../shared";

import { Text, LogoHead, CTAButton, HeroBackground } from "./components";
---

<section class:list={["pt-20"]}>
  <Container className="flex gap-6 flex-col justify-center text-center ">
    <Text tag="h1">Electric Lynx Web masters for your business</Text>

    <Text tag="sub">
      Linking together the pieces of the web to electrify your business.
    </Text>

    <div class="mt-20 flex gap-8 flex-col">
      <Text tag="p">
        Send us your current website and find out what we can do for you.
      </Text>
      <HeroBackground />

      <CTAButton variant={"primary"} className={""} navigateTo={"#contact"}>
        <span class="bolder"> Reach Out</span>
        <svg
          width="182"
          height="15"
          viewBox="0 0 182 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 13.1455H94.3871L106 5L121.5 26L143.419 5L150.645 13.1455C180.581 13.1455 180.761 13.1455 182 13.1455"
            stroke="#F08D27"
            stroke-width="3"></path>
        </svg>
      </CTAButton>
      <Text tag="p">
        Don't got one... Reach out and let us figure out what is the best
        solution for your web presence
      </Text>
    </div>
  </Container>
</section>

<style>
  .hero_layout-sm {
    display: grid;
    grid-template-areas: "logo mainTitle subTitle callActions";
  }
  .hero_background {
    background-image: url("./components//svgs/lynxbg.svg");
  }
</style>
