---
import { Container, Text } from "@components/shared";

import { CTAButton } from "./components";
---

<section class:list={["pt-20", "hero_layout"]}>
  <Container className="flex gap-6 flex-col justify-center text-center ">
    <Text tag="sub">
      Web masters for your business, We Linking together the pieces of the web
      to electrify your business.
    </Text>

    <div class="mt-20 flex gap-8 flex-col">
      <Text tag="p">
        Send us your current website and find out what we can do for you.
      </Text>

      <CTAButton variant={"primary"} className={""} navigateTo={"./contact-us"}>
        <span class="bolder"> Reach Out</span>
        <svg
          width="182"
          height="15"
          viewBox="0 0 182 31"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 13.1455H94.3871L106 5L121.5 26L143.419 5L150.645 13.1455C180.581 13.1455 180.761 13.1455 182 13.1455"
            stroke="#F08D27"
            stroke-width="3"></path>
        </svg>
      </CTAButton>
    </div>
  </Container>
</section>

<style>
  .hero_title {
  }
  .hero_layout {
    --hero_grid_layout: "logo mainTitle subTitle callActions";
    display: grid;
    grid-template-areas: var(--hero_grid_layout);
    height: 85vh;
  }
  @media screen and (min-width: 640px) {
    /* tablet  */
    .hero_layout {
      --hero_grid_layout: "logo mainTitle subTitle callActions";
    }
  }
  @media screen and (min-width: 1024px) {
    /* laptop */
    .hero_layout {
      --hero_grid_layout: "logo mainTitle subTitle callActions";
    }
  }
  @media screen and (min-width: 1280px) {
    /* desktop */
    .hero_layout {
      --hero_grid_layout: "logo mainTitle subTitle callActions";
    }
  }
</style>
