---

---

<footer class="relative bg-heading-3/10 pt-8">
  <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
    <div class="w-28 h-28 overflow-hidden flex rounded-xl relative blur-2xl">
    </div>
  </div>
  <slot />
</footer>
