---
import ServiceCard from "@components/blocks/cards/ServiceCard.astro";

import { Text, Container } from "@components/shared";

import { services } from "./data/services.json";

type ServicesProps = {
  title: string;
  description: string;
  icon: string;
};
---

<section id="services">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Text tag="h2">services + specialties</Text>
      <Text tag="p">
        Orchestrated to build your brand and bring in customers.
      </Text>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      {
        services.map((service: ServicesProps) => {
          return (
            <ServiceCard
              title={service.title}
              description={service.description}
              icon={service.icon}
            />
          );
        })
      }
    </div>
  </Container>
</section>
