---
import BtnLink from "../shared/BtnLink.astro";
import { Container } from "@components/shared/";
import Navitem from "../shared/Navitem.astro";

import { LogoTitle } from "@components/blocks";
import { routes } from "@routes/mainNavigation";

const activeRoutes = routes.filter((route) => route.isActive);
---

<header class="header bg-body fixed inset-x-0 top-0 z-50 py-6">
  <Container>
    <nav class="w-full flex justify-between gap-6 relative">
      <div class="min-w-max inline-flex relative">
        <a href="/" class="relative flex items-center gap-3">
          <div class="relative w-30 overflow-hidden flex rounded-xl">
            <LogoTitle size="sm" />
          </div>
        </a>
      </div>

      <div
        class="flex h-0 overflow-hidden lg:!h-auto md:!h-auto lg:scale-y-100 md:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row md:flex-row w-full lg:justify-between md:justify-between lg:items-center md:items-center absolute lg:relative md:relative top-full lg:top-0 md:top-0 bg-body lg:bg-transparent md:bg-transparent border-x border-x-box-border lg:border-x-0 md:border-x-0"
      >
        <ul
          class="border-b justify-center border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row md:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-center lg:items-center"
        >
          {
            activeRoutes.map((item) => {
              return <Navitem {...item} />;
            })
          }
        </ul>
      </div>

      <div
        aria-hidden="true"
        class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"
      >
      </div>
    </nav>
  </Container>
</header>

<style>
  .header {
    min-height: var(--header-height);
  }
</style>
