---
import BtnLink from "../shared/BtnLink.astro";
import Container from "../shared/Container.astro";

import { IconButton } from '@chakra-ui/react'
import { HiHome, HiClipboard, HiUser, HiTag, HiMail } from "react-icons/hi";

const icons = [
  { icon: HiHome, sectionId: '' },
  { icon: HiClipboard, sectionId: 'services' },
  { icon: HiUser, sectionId: 'about-us' },
  { icon: HiTag, sectionId: 'pricing' },
  { icon: HiMail, sectionId: 'contact' },
];

---
<span class="md:hidden lg:hidden">
    <Container>
        <nav class="navbar fixed bottom-10 w-50 l-50 left-1/2 transform -translate-x-1/2 p-4 rounded-lg z-50 border-2 border-black ">
            <div class="flex flex-row items-center space-x-4">
                {icons.map((item, index) => (
                    <div key={index} class="p-1 hover:scale-110 transition-opacity border border-transparent hover:opacity-50 hover:rounded-full hover:border hover:border-black">
                        <a href={`#${item.sectionId}`}>
                            <item.icon size={30} />
                        </a>
                    </div>
                  ))}
            </div>
        </nav>
    </Container>
<span>
<style>
.navbar{
    background-color: #FFE9D0;
    opacity: .8;
}
</style>

